Package: scq-pbis
Version: 1.4
Maintainer: Rafael Rodriguez <rrodriguezg@santiagodecompostela.gal>
Architecture: all
Description: Configura repositorio remoto para poder instalar la utilidad pbis-open.
